# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
/*build*/
/aasdk/*build*/
/openauto/*build*/
*.user
*.ini
/bin/
*.qrc
/lib/resources/*.qrc
/Debug/
/lib/scripts/*.txt
*.cproject
/.csettings/
.project
/.settings/
*.csv
CMakeCache.txt
Makefile
*.service

