[submodule "python-OBD"]
	path = python-OBD
	url = https://github.com/brendan-w/python-OBD.git
[submodule "openauto"]
	path = openauto
	url = https://github.com/openDsh/openauto.git
[submodule "aasdk"]
	path = aasdk
	url = https://github.com/openDsh/aasdk.git
