[Unit]
Description=Start Auto application
[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart='/home/pi/AutoPi/lib/scripts/Startup/../../../bin/AutoPi'
KillMode=mixed
Restart=never
RestartSec=2s
[Install]
WantedBy=graphical.target
