[Unit]
Description=Start Auto application


[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/bin/bash -c '/home/pi/AutoPi/runAuto.sh > /home/pi/autoPi.log 2>&1'
KillMode=mixed
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=graphical.target  
